main{
    background-color: #EEEEEE;
    margin: 5% 0 5% 0;
    border-radius: 10px;
}

#bold{
    font-weight: bold;
}

li{
    margin-top: 25px;
}

#image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
#top{
    padding: 10px;
    text-align: center;
}

#title{
    font-size: 3rem;
}

#img-div{
    text-align: center;
    background-color: white;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}

#time-line-div
{
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 75%;
}
#time-line-div>h3{
    font-size: x-large;
    margin: 50px 0;
    text-align: center;
}
#img-caption{
    padding: 0px 10px;
}
#tribute-info{
    font-size: large;
    text-align: center;
    padding: 10px 10px;
}
#tribute-link{
    color: burlywood
}